/* App.css */
.App {
  font-family: Arial, sans-serif;
  background-color: #1d1d1d;
  color: white;
}

.title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  background-color: #2D2D2D;
}

.date {
  font-size: 24px;
}

.chevron-left, .chevron-right {
  font-size: 24px;
  color: #00F0F0;
  background-color: rgb(0, 37, 37);
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 80vh;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 49.5%;
  gap: 20px;  /* Space between Fact and Joke */
}

.right-column {
  width: 49.5%;
}

.fact-of-the-day, .joke-of-the-day, .recipe-of-the-day {
  background-color: #2D2D2D;
  padding: 20px;
  border-radius: 10px;
}

.joke-of-the-day {
  display: flex;
  justify-content: space-between;
}

.joke-chevron {
  height: 35px;
  margin-top: 8%;
}

.joke-actions {
  height: 35px;
  margin-top: 30px;
}

.fact-header {
  display: flex;
  justify-content: space-between;
}

.selector {
  height: 30px;
  background-color: #ccffff;
  margin-top: 15px;
  border-radius: 4px;
}

.fact-actions, .recipe-actions, .joke-actions {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.source {
  margin-left: auto;
}

.recipe-header {
  display: flex;
  justify-content: space-between;
}

.recipe-content {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-bottom: 40px;
}

.ingredients, .instructions {
  background-color: rgb(0, 37, 37);
  padding: 20px;
  border-radius: 10px;
}

button {
  background-color: #00F0F0;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #00C0C0;
}
